body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p{
  margin: 0;
}

:root{
  --main-bg-color-black: rgb(255, 255, 255);
  --accent-colour-1:rgb(12, 0, 82);
  --main-font-colour: rgb(19, 19, 19);
}
a{
  text-decoration: none;
}
a:link {
  text-decoration: none;
}

a:active{
  color: black;
}